# REQUIRED for Download
# Percipio Org ID
ORGID=

# REQUIRED for Download
# Percipio Service Account Bearer Token
BEARER=

# REQUIRED for Download
# Base URI of the services
# US: https://api.percipio.com
# EU: https://dew1-api.percipio.com
BASEURL=

# REQUIRED for Local JSON
# The path and filename to the local JSON
#SOURCE=

# REQUIRE
# The value used for the account.homepage in the xAPI statements
#HOMEPAGE=

# REQUIRED
# The path to the JSON file that we use for xAPI lookups.
# This file contains an array of all the items from the Percipio site, transformed using
# https://github.com/martinholden-skillsoft/node-percipio-metadatadownload and the custom
# transform https://github.com/martinholden-skillsoft/node-percipio-metadatadownload/blob/main/otherTransforms/lookupforxapi.jsonata
#XAPILOOKUP=

# OPTIONAL
# To calculate the start/end date dynamically based on timeframe and when the
# report is submitted date.
# You cannot use START / END if you use TIMEFRAME
# One of the following case sensitive values: DAY, WEEK, THIRTY_DAYS, CALENDAR_MONTH
# The default is THIRTY_DAYS
#TIMEFRAME=

# OPTIONAL
# The start date for the report in ISO8601 format.
# You cannot use TIMEFRAME if you use START / END
# The default is null, meaning TIMEFRAME default used
# Example: 2020-01-21T17:00:00Z
#START=

# OPTIONAL
# The end date for the report in ISO8601 format.
# You cannot use TIMEFRAME if you use START / END
# The default is null, meaning TIMEFRAME default used
# Example: 2020-01-21T17:00:00Z
#END=